/* Reset styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light gray background */
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Input styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da; /* Gray border */
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Button styles */
button, .button {
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  background-color: #007bff; /* Blue color */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button:hover, .button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Content styles */
.content {
  text-align: center;
  margin-top: 20px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dee2e6; /* Light gray border */
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Light gray background for headers */
}

/* Spam and not spam styles */
.spam {
  color: #dc3545; /* Red color */
  font-weight: bold; /* Bold font for spam */
}

.not-spam {
  color: #28a745; /* Green color */
  font-weight: bold; /* Bold font for not spam */
}

/* Loader styles */
.loader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Semi-transparent white background */
  z-index: 9999; /* Ensure it's on top of other elements */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spin animation */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* Center vertically */
  margin-left: -25px; /* Center horizontally */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-right: 5px;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
}
