<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Comment Analysis</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <a href="/" class="button"> Back </a>
      <div class="content">
        {% if comments %}
        <table id="commentsTable">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Comment</th>
              <th>Prediction</th>
              <th>Accuracy</th>
            </tr>
          </thead>
          <tbody>
            {% for comment in comments %}
            <tr class="commentRow">
              <td>{{ loop.index }}</td>
              <td>{{ comment[0] }}</td>
              <td
                class="{% if comment[1] == 'Spam' %}spam{% else %}not-spam{% endif %}"
              >
                {{ comment[1] }}
              </td>
              <td>{{ comment[2] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          <button id="prevPage">Previous</button>
          <button id="nextPage">Next</button>
        </div>
        {% else %}
        <p>No comments available.</p>
        {% endif %}
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const rows = document.querySelectorAll(".commentRow");
        const pageSize = 20;
        let currentPage = 1;

        function showPage(pageNumber) {
          const startIndex = (pageNumber - 1) * pageSize;
          const endIndex = pageNumber * pageSize;

          rows.forEach((row, index) => {
            if (index >= startIndex && index < endIndex) {
              row.style.display = "table-row";
            } else {
              row.style.display = "none";
            }
          });
        }

        function updatePaginationButtons() {
          const prevPageButton = document.getElementById("prevPage");
          const nextPageButton = document.getElementById("nextPage");

          prevPageButton.disabled = currentPage === 1;
          nextPageButton.disabled = currentPage * pageSize >= rows.length;
        }

        document
          .getElementById("prevPage")
          .addEventListener("click", function () {
            currentPage--;
            showPage(currentPage);
            updatePaginationButtons();
          });

        document
          .getElementById("nextPage")
          .addEventListener("click", function () {
            currentPage++;
            showPage(currentPage);
            updatePaginationButtons();
          });

        showPage(currentPage);
        updatePaginationButtons();
      });
    </script>
  </body>
</html>
