<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Spam Detection</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">YouTube Spam Detection</h1>
      <div class="form-container">
        <form action="/spam" method="post">
          <label for="youtube_url">
            <i class="fa fa-link"></i>
            YouTube Video URL:
          </label>
          <br />
          <input
            type="text"
            id="youtube_url"
            name="youtube_url"
            required
          /><br />
          <button type="submit">Check Comments</button>
        </form>
      </div>
    </div>

    <!-- Loader -->
    <div class="loader-container" id="loader">
      <div class="loader"></div>
    </div>

    <script>
      // Show loader when form is submitted
      document.querySelector("form").addEventListener("submit", () => {
        document.getElementById("loader").style.display = "block";
      });
    </script>
  </body>
</html>
